li {
  list-style-type: disc;
  margin-bottom: 5px;
}

li > a {
  cursor: pointer;
  width: fit-content;
  background-color: hsla(193, 94%, 86%, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-bottom: 8px;
  text-decoration: none;
  color: black;
}

li > a:hover {
  transform: scale(1.5);
}
