:root {
  --bg-white: #f7f7f7;
  --bg-gray-200: #bbeffd4d;
  --bg-gray-300: #353b45;

  --bg-gray-400: #bbeffd4d;

  --bg-black-100: #282c34;

  --bg-black-200: #20232a;

  --bg-black-300: #16181d;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 17px;
}

hr {
  width: 90%;
  color: gray;
}

#root {
  width: 80%;
  margin: auto;
  background-color: var(--bg-white);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  padding-left: 30px;
}
